body {
  background-color: #E2E1E8;
}

.bar {
  fill: #CAFF0A;
}

.button {
  height: 30px;
  width: 220px;
  position: absolute;
  top: 30px;
  z-index: 10;
}

.regPad {
  padding: 10px;
  color: #FFF;
  background-color: #E600FF;
  box-shadow: 0px 0px 0px 1px #706F73;
}

.btnColors {
  color: #FFF;
  background-color: #E8720C;
}

#toggle {
  border-radius: 25px;
  cursor: pointer;
}

#toggle:hover {
  color: #706F73;
  background-color: #FFF;
}

.smPad {
  padding: 7px;
  margin-left: 2px;
  box-shadow: 0px 0px 4px 4px #818185;
}

div.tooltip {	
    position: absolute;			
    text-align: center;
    width: 37px;					
    height: 37px;					
    padding: 3%;				
    font: 12px sans-serif;		
    background: #606060;	
    border: 0px;		
    border-radius: 50px;			
    pointer-events: none;			
}